<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    />

    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />
    <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css" />
    <link rel="stylesheet" href="stylesheets/chatbot.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />

    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="ff299fbe-3662-4e6f-a620-bd152bf07932" data-blockingmode="auto" type="text/javascript"></script>
  </head>
  <body>
    <div class="e-assistent" onclick="esmartassistent()">
      <i class="lni lni-comments"></i>
    </div>

    <div class="e-assist-window view-e-assist-window" id="e-assist-window">
      <i class="lni lni-close e-smart-close" onclick="esmartassistent()"></i>
      <div class="e-assist-window-heading">
        Digitaler Assistent
      </div>
      <div class="e-assist-windwo-chat">
        <div id="eapp">
          <div class="e-smart-welcome-message">
            <a>
              Hallo, ich bin Ihr Digitaler Assistent. Ich habe für Sie relevante
              Punkte zusammengefasst. Klicken Sie einfach auf einen Punkt, der
              Sie interessiert.</a
            >
          </div>
          {{#each chats}}
          <div class="e-smart-message">
            <a href="{{ this.[1] }}">{{ this.[0] }}</a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="navigation">
      <nav class="navbar is-transparent">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img
                src="images/logo.png"
                alt="Bulma: a modern CSS framework based on Flexbox"
              />
            </a>
            <div
              class="navbar-burger burger"
              data-target="navbarExampleTransparentExample"
            >
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/">
                Home
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a
                  class="navbar-link"
                  href="https://bulma.io/documentation/overview/start/"
                >
                  Docs
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a
                    class="navbar-item"
                    href="https://bulma.io/documentation/overview/start/"
                  >
                    Overview
                  </a>
                  <a
                    class="navbar-item"
                    href="https://bulma.io/documentation/modifiers/syntax/"
                  >
                    Modifiers
                  </a>
                  <a
                    class="navbar-item"
                    href="https://bulma.io/documentation/columns/basics/"
                  >
                    Columns
                  </a>
                  <a
                    class="navbar-item"
                    href="https://bulma.io/documentation/layout/container/"
                  >
                    Layout
                  </a>
                  <a
                    class="navbar-item"
                    href="https://bulma.io/documentation/form/general/"
                  >
                    Form
                  </a>
                  <hr class="navbar-divider" />
                  <a
                    class="navbar-item"
                    href="https://bulma.io/documentation/elements/box/"
                  >
                    Elements
                  </a>
                  <a
                    class="navbar-item is-active"
                    href="https://bulma.io/documentation/components/breadcrumb/"
                  >
                    Components
                  </a>
                </div>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a
                      class="bd-tw-button button"
                      data-social-network="Twitter"
                      data-social-action="tweet"
                      data-social-target="https://bulma.io"
                      target="_blank"
                      href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms"
                    >
                      <span class="icon">
                        <i class="lni lni-graduation"></i>
                      </span>
                      <span>
                        Academy
                      </span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-link" href="/login">
                      <span class="icon">
                        <i class="lni lni-enter"></i>
                      </span>
                      <span>Kunden Login</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    {{{body}}}
  </body>
</html>
