<div class="startseite-1">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="s-slider-outter"
          style="
            background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
          "
        >
          <div class="s-slider-inner">
            <section class="section">
              <div class="container">
                <p class="subtitle has-text-white">
                  Digitale Kommunikation
                </p>
                <h1 class="title is-1 has-text-weight-bold has-text-white">
                  Wir erleichtern durch digitale Technologien die Kommunikation
                  mit Ihren Kunden.
                </h1>
                <a class="subtitle has-text-white" href=""
                  >Case Study <i class="lni lni-chevron-right"></i
                ></a>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".swiper-container", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</div>

<div class="startseite-s2">
  <div class="container">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong> <small>@johnsmith</small>
              <small>31m</small>
              <br />
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              efficitur sit amet massa fringilla egestas. Nullam condimentum
              luctus turpis.
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
<section class="hero is-light is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-9">
          <h2 class="title">
            Wir erschaffen digitale Verbindungen zwischen Unternehmen und
            Kunden.
          </h2>
          <h3 class="subtitle">
            Erfahren Sie, welche möglichkeiten bei Ihrem Unternehmen enstehen
            und welche Vorteile Sie daraus ziehen.
          </h3>
          <a class="button is-link" href="">Beratung</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h4 class="title">
      Unsere Leitungen
    </h4>
    <p class="subtitle">
      has
    </p>
  </div>
</section>
