<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <h1 class="title">
            Wir bringen Digitalisierung zu Ihnen.
          </h1>
          <p>
            Von der Idee zur Lösung: mit mehr als 100 Diensten zum Erstellen,
            Bereitstellen und Verwalten von Anwendungen in der Cloud, lokal und
            am Edge – mit den Tools und Frameworks Ihrer Wahl.
          </p>
          <br />
          <a class="button is-link" href="">Demo</a>
        </div>
        <div class="column has-text-centered">
          <img
            src="https://images.unsplash.com/photo-1584223783782-4bde1b300193?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            alt=""
            class="header-image"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container is-centered has-text-centered">
    <h2 class="title  is-4">
      Setzten Sie Ihre Ideen in die Tat um
    </h2>
    <div class="columns">
      <div class="column">
        <h3 class="title is-6">Test 1</h3>
      </div>
      <div class="column">
        <h3 class="title is-6">Test 1</h3>
      </div>
      <div class="column">
        <h3 class="title is-6">Test 1</h3>
      </div>
      <div class="column">
        <h3 class="title is-6">Test 1</h3>
      </div>
    </div>
  </div>
</section>
