<div class="startseite-1">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="s-slider-outter"
          style="
            background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
          "
        >
          <div class="s-slider-inner">
            <section class="section">
              <div class="container">
                <p class="subtitle has-text-white">
                  Digitale Kommunikation
                </p>
                <h1 class="title is-1 has-text-weight-bold has-text-white">
                  Wir
                  <span id="app"></span>
                </h1>
                <a class="subtitle has-text-white" href=""
                  >Case Study <i class="lni lni-chevron-right"></i
                ></a>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Type Effekt -->
    <script>
      var app = document.getElementById("app");

      var typewriter = new Typewriter(app, {
        loop: true,
      });

      typewriter
        .typeString("erleichtern die kommunikation mit Ihren Kunden")
        .pauseFor(4500)
        .deleteAll()
        .typeString("erhöhen Ihre Bekanntheit")
        .pauseFor(4500)
        .deleteAll()
        .typeString("digitalisieren Ihr Unternehmen")
        .pauseFor(4500)
        .start();
    </script>
  </div>

  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".swiper-container", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</div>

<div class="startseite-s2">
  <section class="section">
    <div class="container is-centered">
      <div class="box">
        <div class="columns">
          <div class="column border-right">
            <i class="lni lni-grid-alt big-icon"></i>
            <p>
              <b>Modulare Software</b> <br />
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            </p>
            <a href="">Mehr dazu</a>
          </div>
          <div class="column border-right">
            <i class="lni lni-bulb big-icon"></i>
            <p>
              <b>Modulare Software</b> <br />
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            </p>
            <a href="">Mehr dazu</a>
          </div>
          <div class="column">
            <i class="lni lni-library big-icon"></i>
            <p>
              <b>Academy</b> <br />
              Erlenen sie selbst, wie Websiten funktionieren und worauf sie bei
              SEO achten müssen in unseren eigenen Schulungen.
            </p>
            <a href="">Mehr dazu</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section">
  <div class="container">
    <h2 class="title is-4">
      Wie künstliche Intelligenz den erst Kontakt vereinfacht
    </h2>
    <p class="subtitle">
      Wie unser neuer Digitaler Assistent ihren Besuchern hilft
    </p>
    <div class="columns">
      <div class="column is-7">
        <div class="liste">
          <ul>
            <li>
              <i class="lni lni-stats-up big-icon"></i>
              <p>
                <b>Steigerung der Aquisition um bis zu 51%</b> <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam
              </p>
            </li>
            <li>
              <i class="lni lni-comments big-icon"></i>
              <p>
                <b>Einfacherer Einstieg für Kunden</b> <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam
              </p>
            </li>
            <li>
              <i class="lni lni-bubble big-icon"></i>
              <p>
                <b>Einfacherer Einstieg für Kunden</b> <br />
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam
              </p>
            </li>
          </ul>
        </div>
        <a href="">Case Study</a>
      </div>
      <div class="column">
        <img
          class="image-round-shadow"
          src="https://images.unsplash.com/photo-1479920252409-6e3d8e8d4866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="section has-background-light">
  <div class="container">
    <div class="kunden">
      <div class="columns">
        <div class="column">
          <img src="images/kunden/autohaus_sing.png" alt="" />
        </div>
        <div class="column">
          <img src="images/kunden/schreinerei_oberschmid.png" alt="" />
        </div>
        <div class="column">
          <img src="images/kunden/logo_itc_graf.png" alt="" />
        </div>
        <div class="column">
          <img src="images/kunden/logo_mps.png" alt="" />
        </div>

        <div class="column">
          <img src="images/kunden/logo_uvv_check.png" alt="" />
        </div>
        <div class="column">
          <img src="images/kunden/logo_rettungsplan.png" alt="" />
        </div>
        <div class="column">
          <img src="images/kunden/logo_anders.png" alt="" />
        </div>
        <div class="column">
          <img src="images/kunden/logo_augustin.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">
      Enval Components
    </h2>
    <p class="subtitle">
      Wie unser neuer Digitaler Assistent ihren Besuchern hilft
    </p>
    <div class="columns">
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
    </div>
    <a href="">Anfrage stellen</a>
  </div>
</section>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        Enval Research
      </h3>
      <p class="subtitle">
        Entdecken sie unsere Fallstudien
      </p>
      <div class="columns">
        <div class="column">
          <div
            class="e-image-box"
            style="
              background-image: url(https://anders-die-mode.de/wp-content/uploads/2020/03/DSC03211.jpg);
              background-position: bottom;
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
              <a href="">Case Study lesen</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div
            class="e-image-box"
            style="
              background-image: url(https://images.unsplash.com/photo-1586783553642-54be837505c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
            </div>
          </div>
        </div>
        <div class="column">
          <div
            class="e-image-box"
            style="
              background-image: url(https://images.unsplash.com/photo-1586783553642-54be837505c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
            </div>
          </div>
        </div>
        <div class="column">
          <div
            class="e-image-box"
            style="
              background-image: url(https://images.unsplash.com/photo-1586783553642-54be837505c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
