<div class="startseite-1">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="s-slider-outter"
          style="
            background-image: url(https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
          "
        >
          <div class="s-slider-inner">
            <section class="section">
              <div class="container">
                <p class="subtitle has-text-white">
                  Digitale Kommunikation
                </p>
                <h1 class="title is-1 has-text-weight-bold has-text-white">
                  Wir digitalisieren ihre Kommunikation vor dem Hintergrund der
                  digitalen Transformation
                  <span id="app"></span>
                </h1>
                <a class="subtitle has-text-white" href=""
                  >Unsere Angebote <i class="lni lni-chevron-right"></i
                ></a>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="s-slider-outter"
          style="
            background-image: url(https://images.unsplash.com/photo-1573164713988-8665fc963095?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
          "
        >
          <div class="s-slider-inner">
            <section class="section">
              <div class="container">
                <p class="subtitle has-text-white">
                  Webseiten und Hosting
                </p>
                <h2 class="title is-1 has-text-weight-bold has-text-white">
                  Digitale Apps sicher hosten und verwalten ohne Sorgen
                  <span id="app"></span>
                </h2>
                <a class="subtitle has-text-white" href=""
                  >Hosting und Verwaltung <i class="lni lni-chevron-right"></i
                ></a>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Type Effekt -->
  </div>

  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".swiper-container", {
      autoplay: {
        delay: 3500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</div>

<div class="startseite-s2">
  <section class="section">
    <div class="container is-centered">
      <div class="box">
        <div class="columns">
          <div class="column border-right">
            <i class="lni lni-code big-icon"></i>
            <p>
              <b>Software</b> <br />
              Wir entwickeln moderne Web Apps für Ihr Unternehmen. Egal ob
              Website oder Verwaltungsprogramm für Kunden.
            </p>
            <a href="">Umsetzung</a>
          </div>
          <div class="column border-right">
            <i class="lni lni-customer big-icon"></i>
            <p>
              <b>Digitale Optimierung</b> <br />
              Wir beraten Ihr Unternehmen in Sachen Digitalisierung und setzten
              gefundene Lösungen direkt um. Alles aus einer Hand.
            </p>
            <a href="">Digitalisierung</a>
          </div>
          <div class="column">
            <i class="lni lni-library big-icon"></i>
            <p>
              <b>Verwaltung</b> <br />
              Wir verwalten Web Apps und kümmern uns um Updates, Support und
              weiterentwicklung. Effizient und schnell.
            </p>
            <a href="">Verwaltung</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="section">
  <div class="container">
    <h3 class="title">
      Nachhaltige Lösungen
    </h3>
    <p class="subtitle">
      Unsere neusten Lösungen.
    </p>
    <div class="columns">
      <div class="column is-7">
        <div class="liste">
          <ul>
            <li>
              <i class="lni lni-thought big-icon"></i>
              <p>
                <b>Wie künstliche Intelligenz den erst Kontakt vereinfacht</b>
                <br />
                Mit dem Enval Smart Assistent wird der Kontakt vom Kunden zu
                ihnen bedeutend einfacher. Unsere Fallstundien zeigen bis zu 43%
                mehr Kundenanfragen.
              </p>
              <a href="">Fallstudie <i class="lni lni-chevron-right"></i></a>
            </li>
            <li>
              <i class="lni lni-comments big-icon"></i>
              <p>
                <b>Dynamische Schnittstellen zu Kunden</b> <br />
                Ihren Kunden immer gerecht werden und alle Anforderungen
                erfüllen kann schwer sein. Muss es aber nicht mit Enval
                realisieren wir Möglichkeiten, wie Kunden mit ihrem Unternehmen
                schneller und einfacher aggieren können.
              </p>
              <a href="">Fallstudie <i class="lni lni-chevron-right"></i></a>
            </li>
            <li>
              <i class="lni lni-dashboard big-icon"></i>
              <p>
                <b>Performance und Verfügbarkeit</b> <br />
                Wir kümmern uns um die Performance ihrer Anwendung und sorgen
                für eine flächendeckende Verfügbarkeit mit einer horizontal
                skalierten Serverarchitektur bringen wir ihre Webseite näher an
                den Kunden und können smomit die Performance optimieren und für
                ein besseres Nutzererlebnis sorgen.
              </p>
              <a href="">Fallstudie <i class="lni lni-chevron-right"></i></a>
            </li>
          </ul>
        </div>
        <a href="">Individuelle Lösungen ⟶</a>
      </div>
      <div class="column">
        <br />
        <br />
        <img
          class="image-round-shadow"
          src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="section has-background-light">
  <div class="container">
    <div class="kunden">
      <div class="columns">
        <div class="column">
          <a href=""><img src="images/kunden/autohaus_sing.png" alt="" /></a>
        </div>
        <div class="column">
          <a href="">
            <img src="images/kunden/schreinerei_oberschmid.png" alt="" />
          </a>
        </div>
        <div class="column">
          <a href=""><img src="images/kunden/logo_itc_graf.png" alt="" /></a>
        </div>
        <div class="column">
          <a href=""> <img src="images/kunden/logo_mps.png" alt="" /> </a>
        </div>

        <div class="column">
          <a href=""> <img src="images/kunden/logo_uvv_check.png" alt="" /> </a>
        </div>
        <div class="column">
          <a href="">
            <img src="images/kunden/logo_rettungsplan.png" alt="" />
          </a>
        </div>
        <div class="column">
          <a href=""> <img src="images/kunden/logo_anders.png" alt="" /> </a>
        </div>
        <div class="column">
          <a href=""> <img src="images/kunden/logo_augustin.png" alt="" /> </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h4 class="title">
      Enval Components
    </h4>
    <p class="subtitle">
      Wie unser neuer Digitaler Assistent ihren Besuchern hilft
    </p>
    <div class="columns">
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu ⟶</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <i class="lni lni-grid-alt big-icon"></i>
          <p>
            <b>Modulare Software</b> <br />
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
          </p>
          <a href="">Mehr dazu</a>
        </div>
      </div>
    </div>
    <a href="">Anfrage stellen</a>
  </div>
</section>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h5 class="title">
        Enval Research
      </h5>
      <p class="subtitle">
        Entdecken sie unsere Fallstudien
      </p>
      <div class="columns">
        <div class="column is-6">
          <div
            class="e-image-box"
            style="
              background-image: url(https://anders-die-mode.de/wp-content/uploads/2020/03/DSC03211.jpg);
              background-position: bottom;
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
              <p><cite>The Scream</cite> by Edward Munch. Painted in 1893.</p>
              <br />
              <a href="">Case Study lesen</a>
            </div>
          </div>
        </div>
        <div class="column">
          <div
            class="e-image-box"
            style="
              background-image: url(https://images.unsplash.com/photo-1586783553642-54be837505c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
              <p><cite>The Scream</cite> by Edward Munch. Painted in 1893.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div
            class="e-image-box"
            style="
              background-image: url(https://images.unsplash.com/photo-1586783553642-54be837505c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
            "
          >
            <div class="e-image-box-inner">
              <h4>Test</h4>
            </div>
          </div>
        </div>
      </div>

      <a class="has-text-white" href="">Kontaktieren Sie uns ⟶</a>
    </div>
  </div>
</section>
