<section class="section header-has-bg ">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-2 has-text-white has-text-weight-bold">Enval</h1>
                <p class="subtitle is-4 has-text-sub">Wir erstellen digitale Lösungen <br>für Ihren nächsten Schritt in
                    der Digitalisierung.</p>
                <a href="" class="button is-light is-outlined is-rounded">Unsere Fachgebiete</a>

            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">

            </div>
        </div>
    </div>
</section>