<section class="section header-has-bg ">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-2 has-text-white has-text-weight-bold">Enval</h1>
                <p class="subtitle is-4 has-text-sub">Wir erstellen digitale Lösungen <br>für Ihren Fortschritt.</p>

            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="card">

                    <div class="card-content">
                        <div class="media">

                            <div class="media-content">
                                <p class="title is-4">John Smith</p>
                                <p class="subtitle is-6">@johnsmith</p>
                            </div>
                        </div>

                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                            <a href="#">#css</a> <a href="#">#responsive</a>
                            <br>
                            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>