<div class="startseite-1">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="s-slider-outter"
          style="
            background-image: url(https://images.unsplash.com/photo-1530741805628-3d7413220aa9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3900&q=80);
          "
        >
          <div class="s-slider-inner">
            <section class="section">
              <div class="container">
                <p class="hero-slider-toptitle has-text-white">
                  Digitale Transformation
                </p>
                <h1 class="hero-slider-title has-text-white">
                  Establishing new digital Assets arround the world
                </h1>
                <a class="hero-slider-link has-text-white" href=""
                  >Case Study</a
                >
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".swiper-container", {
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</div>

<section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-9">
          <h1 class="title">
            Wir erschaffen digitale Verbindungen zwischen Unternehmen und
            Kunden.
          </h1>
          <h2 class="subtitle">
            Medium subtitle
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
