<section class="section-slider">
  <div class="container-slider">
    <div class="slider">
      <div class="Slide">
        <img
          class="slide-image"
          src="https://contemporaryhotels.com.au/wp-content/uploads/2017/09/CONTEMP_OMNIA6349_d.jpg"
        />
        <div class="slider-caption">
          <p class="slider-top-heading">Willkommen im ditigalen Zeitalter</p>
          <h1 class="slider-heading title is-2">Unsere Sprache ist digital.</h1>
          <a class="text-link" href="">Explore our properties</a>
        </div>
      </div>
      <div class="Slide">
        <img
          src="https://contemporaryhotels.com.au/wp-content/uploads/2017/09/CONTEMP_OMNIA-105-1_d.jpg"
        />
        <div class="slider-caption">
          <p class="slider-top-heading">Willkommen im ditigalen Zeitalter</p>
          <h1 class="slider-heading title is-2">Unsere Sprache ist digital.</h1>
          <a class="text-link" href="">Explore our properties</a>
        </div>
      </div>
      <div class="Slide">
        <img
          src="https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80"
        />
        <div class="slider-caption">
          <p class="slider-top-heading">Willkommen im ditigalen Zeitalter</p>
          <h1 class="slider-heading title is-2">Unsere Sprache ist digital.</h1>
          <a class="text-link" href="">Explore our properties</a>
        </div>
      </div>
    </div>
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">
      &#10094;
    </button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">
      &#10095;
    </button>
    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs((slideIndex += n));
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("Slide");
        if (n > x.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
      }
    </script>
  </div>
</section>

<div class="canvas-form">
  <p class="label">Betreff</p>
  <form action="">
    <input class="input-form" type="text" placeholder="Anfrage" />
    <br />
    <p class="label">Ansprechpartner</p>
    <input class="input-form" type="text" placeholder="Vorname" />
    <input class="input-form" type="text" placeholder="Nachname" />
    <input class="input-form" type="email" placeholder="E-Mail" />
    <p class="label">Text</p>
    <textarea
      class="input-form"
      placeholder="Hallo, ich habe eine Anfrage bezüglich ..."
    ></textarea>

    <br />
    <br />
    <button class="button is-primary is-fullwidth" type="submit">
      Anfrage absenden
    </button>
  </form>
</div>

<section class="section">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="info-column">
          <div class="card">
            <div class="card-image">
              <div class="inner">
                <span>i</span>
                <h2 class="title">Hey</h2>
                <p>
                  This is an informative card that will tell you some important
                  information!
                </p>
              </div>
              <figure class="image is-4by3">
                <img
                  src="https://contemporaryhotels.com.au/wp-content/uploads/2019/06/DESIGNERS-RETREAT_0016-1-1000x688.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="info-column">
          <div class="card">
            <div class="card-image">
              <div class="inner">
                <span>i</span>
                <h2 class="title">Hey</h2>
                <p>
                  This is an informative card that will tell you some important
                  information!
                </p>
              </div>
              <figure class="image is-4by3">
                <img
                  src="https://contemporaryhotels.com.au/wp-content/uploads/2020/03/OMNIA__2403-1000x563.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="info-column">
          <div class="card">
            <div class="card-image">
              <div class="inner">
                <span>i</span>
                <h2 class="title">Hey</h2>
                <p>
                  This is an informative card that will tell you some important
                  information!
                </p>
              </div>
              <figure class="image is-4by3">
                <img
                  src="https://contemporaryhotels.com.au/wp-content/uploads/2019/05/PACIFIC_PHOUSE_SHOT1_0068-1000x563.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">John Smith</p>
                  <p class="subtitle is-6">@johnsmith</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br />
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
