<div class="user_selctor">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Neue Arbeitszeiten Hinzufügen</h1>
                <form action="/ausgabe" method="post">
                    <p>Mitarbeiter</p>
                    <input type="text" name="mitarbeiter" id="">
                    <p>Datum</p>
                    <input type="date" name="datum" id="">
                    <p>Stunden</p>
                    <input type="number" name="stunden" id="">
                    <br>
                    <button type="submit">Absenden</button>
                </form>
            </div>

        </div>
    </div>
</div>