<section class="section header-has-bg ">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-2 has-text-white has-text-weight-bold">Enval</h1>
                <p class="subtitle is-4 has-text-sub">Wir erstellen digitale komplett Lösungen, <br>für Ihren nächsten
                    Schritt in
                    der Digitalisierung.</p>
                <a href="" class="button is-light is-outlined is-rounded">Unsere Fachgebiete</a>

            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-4">Nächster Schritt in die Digitalisierung</h1>
                <p class="subtitle ">Mit unseren digitalen Lösungen</p>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image image-items">
                        <figure class="image">
                            <img src="/images/webentwicklung_1.svg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 ">Entwicklung</p>
                            </div>
                        </div>

                        <div class="content">
                            Webapps bekommen in unserer heutigen Zeit immer mehr Relevanz. Egal ob eine einfache
                            Unternehmens Website oder Komplexe Portale. <strong>Digital</strong> und fortschrittliche
                            Lösungen haben bei uns Priorität.
                        </div>
                        <a href="" class="button is-black is-outlined">Webbasierte Lösungen</a>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="column">
                    <div class="card">
                        <div class="card-image image-items">
                            <figure class="image">
                                <img src="/images/marketing.svg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Marketing</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                            </div>
                            <a href="" class="button is-black is-outlined">Webbasierte Lösungen</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="column">
                    <div class="card">
                        <div class="card-image image-items">
                            <figure class="image">
                                <img src="/images/optimierung.svg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">Strategie</p>
                                </div>
                            </div>

                            <div class="content">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Phasellus nec iaculis mauris.
                            </div>
                            <a href="" class="button is-black is-outlined">Webbasierte Lösungen</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>