<div class="user_selctor">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="input_user_fields">
                    <h1>Neue Arbeitszeiten Hinzufügen</h1>
                    <form action="/ausgabe" method="post">
                        <p>Mitarbeiter</p>
                        <input class="form-control" type="text" name="mitarbeiter" id="" placeholder="Max Mustermann">
                        <p>Datum</p>
                        <input class="form-control" type="date" name="datum" id="" placeholder="1.1.2020">
                        <p>Stunden</p>
                        <input class="form-control" type="number" name="stunden" id="" placeholder="20">
                        <br>
                        <br>
                        <button class="btn button" type="submit">Absenden</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-7"></div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="">

            </div>
        </div>
    </div>
</div>