<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <form action="/api/login" method="POST">
                    <div class="field">
                        <label class="label">Username</label>
                        <div>
                            <input type="text" name="username" class="input" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Passwort</label>
                        <div>
                            <input type="password" name="passwort" class="input" required>
                        </div>
                    </div>
                    <button class="button is-link is-rounded">Absenden</button>
                </form>
            </div>
        </div>
    </div>
</section>