@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
body {
  font-family: "Inter", sans-serif;
}
@media (min-width: 276px) {
  .has-text-sub {
    color: #9f9fb7;
  }
  .navigationsbereich {
    background-color: rgba(11, 13, 26, 1);
  }
  .navbar {
    background-color: rgba(11, 13, 26, 1);
    width: 100%;
    margin: auto;
  }
  .navbar-item {
    color: #fff;
  }
  .navbar-item:hover {
    background-color: rgba(11, 13, 26, 1) !important;
  }
  .navbar-link {
    color: #fff;
  }
  .navbar-link:hover {
    background-color: rgba(11, 13, 26, 1) !important;
  }
  .navbar-link:focus {
    background-color: rgba(11, 13, 26, 1) !important;
  }
  .navbar-item.has-dropdown.is-active .navbar-link,
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: rgba(11, 13, 26, 1);
  }
  .navbar-dropdown {
    background-color: #3d3d52;
    color: #fff;
  }
  .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item:hover {
    color: #fff;
  }
  .header-has-bg {
    background: linear-gradient(rgba(11, 13, 26, 1) 20%, rgba(11, 13, 26, 1));
    height: 600px;
    text-align: center;
    padding: 200px 0px 0px 0px;
  }
  .image-items img {
    height: 230px;
    padding: 10px 10px 10px 10px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar {
    background-color: rgba(11, 13, 26, 1);
    width: 75%;
    margin: auto;
    border-bottom: 1px solid #383842;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
