<!doctype html>
<html lang="de" dir="ltr">

<head>
  {{#block "header"}}{{/block}}
  <meta charset="utf-8">

  
  <link href="/main.cba4db8316239ed25252.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

</head>

<body class="{{bodyclass}}">
  {{#block "navigation"}}{{/block}}
  {{#block "body"}}{{/block}}
</body>

{{#block "scripts"}}{{/block}}


<script src="/bundle.cba4db8316239ed25252.js"></script>




</html>