<!doctype html>
<html lang="en" dir="ltr">
<head>
{{#block "head"}}{{/block}}

<link href="/main.a15e8194314800950d63.css" rel="stylesheet">

</head>

<body class="{{bodyclass}}">
  {{#block "body"}}{{/block}}
</body>

{{#block "scripts"}}{{/block}}


<script src="/bundle.a15e8194314800950d63.js"></script>



</html>
